= simple_form_for @task, remote: true do |f|
  = f.error_notification

  .form-inputs.input-control.text.size3
    = f.input :name
    = f.input :duration
    %br
  .form-actions
    = f.button :submit, class: 'button primary'
