%h1 Listing tasks
%p
  = form_tag tasks_path, :method => :get do
    .input-control.text.size3
      Search by name:
      = text_field_tag :search_name, params[:search_name]
    .input-control.text.size2
      With duration less than:
      = text_field_tag :search_less, params[:search_less]
    .input-control.text.size3
      With duration more than:
      = text_field_tag :search_more, params[:search_more]
    = submit_tag "Search", :name => nil, class: 'button primary'

%table.table.hovered
  %thead
    %tr
      %th Name
      %th Duration
      %th User
      %th
      %th
      %th
      
  %tbody
    - @tasks.each do |task|
      %tr
        %td
          =link_to task, remote: true do
            = task.name
        %td= task.duration
        %td= task.user.email
        %td= link_to 'Edit', edit_task_path(task), class: 'button primary small', remote: true
        %td= link_to 'Destroy', task, :method => :delete, class: 'button danger small', :data => { :confirm => 'Are you sure?' }, remote: true

%br
= will_paginate @tasks
= link_to 'New Task', new_task_path, class: 'button primary', remote: true
