%p#notice= notice

%h3
  = @task.name
%p
  %b Duration:
  = @task.duration
%p
  %b User:
  = @task.user.email

       
= link_to 'Edit', edit_task_path(@task), class: 'button primary'
= link_to 'Add SubTask', new_task_path(@task), class: 'button primary', remote: true
%br
