#footer_true.navbar
  .navbar-content.ribbed-blue.fg-white
    %item &copy; Test App ;-) 2015
    %item
      %span
        - if current_user.present?
          Приветствуем,
          =current_user.try(:email)
          = link_to " Выйти", destroy_user_session_path, method: :delete
        - else
          = link_to "  Вход", new_user_session_path