#footer_true {position: fixed; bottom: 0px;}
#content {padding-bottom: 4em;}
.gritter-item p {color: #fff !important}
.navbar .fixed-top, .bg-amber .navbar-content {opacity: 0.8 !important}
#landing .span3 {margin-right: 10px; text-align:center;}
.slide img {margin: 0 auto !important;}
#cart_buttons {align: center}
.carts, #cart {
  .item_price, .total_line {
    text-align: right;
  }
  .total_line .total_cell {
    font-weight: bold;
    border-top: 1px solid #595;
  }
}
#cart {
  padding-top: 60px;
}
.frame{
  border-radius:5px;
  /*Frame 3d effect*/
  text-shadow:0 1px 0 grey;
}

.perp{
  text-align:center;
  border-radius:5px;
  transition: 0.35s ease all;
  /*Off-hover Animation*/
  trasformation-property: opacity;
  transform:perspective(800px) rotateX(0deg);
  box-shadow:inset 0 -2px #336680;
  text-shadow:0 1px 0 grey;
}


.frame:hover .perp{
  /*On-Hover Property*/
  
  /*On-Hover Animation*/
  trasformation-property: opacity;
  transition: 0.35s ease all;
  transform:perspective(800px) rotateX(15deg);  
}

