!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TestApp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
    =javascript_include_tag "jquery.turbolinks"
    %script{:src => "//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.metro
    .page
      .container
        #content
          #notice
            =notice
          = yield
      = render 'shared/footer'
